.v-toolbar__content {
    a.v-btn:hover {
        text-decoration: none;
    }
    .v-btn--active:before {
        background-color: $primary;
    }
}

.v-content__wrap .theme--dark.v-btn--floating.v-btn--fixed {
    background-color: $primary;
}

.v-list__tile__title {
    span {
        font-size: 14px;
        color: $grey;
    }
}

.search__wrapper {
    background: #fafafa;
    padding: 20px 10px 20px 10px;
    .v-text-field--outline>.v-input__control>.v-input__slot {
        background-color: #fff !important;
        border-color: #ddd !important;
    }
}
.settings-section {
    .v-list {
        padding: 0;
    }
    .v-list__tile {
        height: 58px;
    }
    hr.v-divider {
        margin: 0;
    }
    a.v-list__tile:hover {
        text-decoration: none;
    }
}
.setting {
    border-top: 1px solid #eee;
    padding: 16px;
    &.colorpicker {
        display: flex;
        label {
            line-height: 35px;
            margin-bottom: 0;
            padding-bottom: 0;
            font-size: 16px;
        }
    }
    label {
        width: 100%;
        font-size: 18px;
        padding-bottom: 5px;
    }
    p.description {
        width: 100%;
        color: #bbb;
        font-size: 14px;
    }
    input[type="text"], select {
        height: 40px;
        width: 100%;
        font-size: 16px;
        line-height: 1.4;
        border-radius: 0px;
        padding: 8px;
        border: 1px solid #ced4da;
    }
    textarea {
        height: 80px;
        width: 100%;
        font-size: 16px;
        line-height: 1.4;
        border-radius: 0px;
        padding: 8px;
        border: 1px solid #ced4da;
    }
    select:not([multiple="multiple"]) {
        -moz-appearance:menulist;
        -webkit-appearance: menulist;
    }
    [multiple="multiple"] {
        height: 100px;
    }
    .v-btn-toggle {
        .v-btn {
            text-transform: none;
        }
        .v-btn--active:before, .v-btn:focus:before, .v-btn:hover:before{
            background: $primary;
            opacity: 1;
        }
        .v-btn--active .v-btn__content {
            color: #fff;
        }
    }
    &.switch {
        .description {
            margin-bottom: 0;
        }
        .v-input__slot {
            margin-bottom: 0;
        }
    }

}
.multiselect {
    min-height: 50px;
    .multiselect__select {
        top: 7px;
    }
    .multiselect__tags {
        min-height: 50px;
        padding: 15px 40px 0 8px;
    }
}
.setting.pokemon {
    padding: 5px 16px;
    img {
        max-width: 70px;
        padding-right: 10px;
    }
    p {
        display: inline-block;
        font-family: 'Teko';
        font-size: 24px;
        width: calc(100% - 140px);
    }
    .v-btn {
        &:hover {
            cursor: pointer;
        }
        .v-icon {
            color: #ccc;
        }
    }
}
.permissions {
    .theme--light.bt--small.bt--secondary {
        background-color: $primary;
        color: #fff;
        margin-top: 20px;
    }
}
.permission {
    .v-card__title--primary {
        padding: 10px;
    }
    .permission__role {
        background: rgba(168, 167, 207, 0.2);
        color: $primary;
        padding: 1px 5px;
        display: inline-block;
        border-radius: 5px;
    }
    .permission__content {
        width: calc(100% - 52px);
    }
    .permission__actions {
        display: flex;
        flex-direction: column;
        .theme--dark.v-btn {
            color: $grey;
        }
    }
}
