.map__actions {
    position: fixed;
    bottom: 65px;
    /*bottom: 10px;*/
    right: 0px;
    width: 78px;
    z-index: 1000;
    /*display: flex;
    flex-direction: column-reverse; */
    .actions {
        display: flex;
        flex-direction: column-reverse;
    }
    #launcher {
        position: relative;
        width: 60px;
        height: 60px;
        background: $primary;
        background-size: contain;
        border: none;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 10px;
        border-radius: 50%;
        box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
        .menu-off {
            display: none;
        }
    }
    #launcher:before {
        content: "";
        width: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        height: 50px;
        display: block;
        position: absolute;
        border-radius: 50%;
        top: 5px;
        left: 5px;
    }
    i {
        font-size: 24px;
        vertical-align: middle;
    }
    button:active {
        color: rgba(255, 255, 255, 0.2);
    }
    button:disabled i {
        display:none;
    }
    button .mdl-spinner {
        display: none;
    }
    button:disabled .mdl-spinner {
        display:inline-block;
        margin-top: 4px;
        width: 24px;
        height: 24px;
    }
    .map__overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background: linear-gradient(-45deg, $primary 0%,#fff 100%);
        left: 0;
        top: 0;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3s, opacity 0.3s linear;
    }
    .actions {
        max-height: 0;
        transition: all .5s ease-out;
        right: 30px;
        position: absolute;
        min-width: 300px;
        bottom: 85px;
        button {
            display: none;
            background: transparent;
            border: none;
            text-align:right;
            font-size: 20px;
            margin: 10px 0;
            color: #fff;
            text-shadow: 1px 1px 2px #1c8796;
            span {
                dipsplay: inline-block;
                vertical-align: middle;
                margin-right: 15px;
            }
            i {
                dipsplay: inline-block;
                vertical-align: middle;
                font-size: 30px;
            }
            &:active {
                color: rgba(255,255,255,0.2) !important;
            }
        }
    }
}
.map__actions.open #launcher .menu-off {
    display: initial;
}
.map__actions.open #launcher .menu-on {
    display: none;
}
.map__actions.open .actions {
    max-height: 500px; /* approximate max height */
    transition: all .9s ease-out;
}
.map__actions.open .actions button {
    display: initial;
}
.map__actions.open .map__overlay {
    opacity: 0.5;
    transition: visibility 0.3s, opacity 0.3s linear;
    visibility: visible;
}

.map__actions .mdl-spinner__layer-1,
.map__actions .mdl-spinner__layer-2,
.map__actions .mdl-spinner__layer-3,
.map__actions .mdl-spinner__layer-4 {
    border-color:#43696c !important;
}
