@media screen and (min-width: 960px) {
    .template-map .v-content__wrap .container.fluid {
        width: 100% !important;
        max-width:100% !important;
        background: #fcfcfc !important;
    }
    body {
        background: #fcfcfc !important;
        &.logged-out {
            background: url('/storage/img/static/splash_bg.jpg') top right !important;
        }
    }
    footer.v-footer {
        height:0 !important;
    }
    main.v-content {
        padding: 64px 0px 0px 0px !important;
    }
    .map__actions {
        bottom: 15px;
    }
    .v-toolbar {
        background: #fcfcfc !important;
    }
    .v-toolbar__content {
        max-width: 800px;
        margin: auto;
        background: #fcfcfc;
    }
    .v-toolbar__items {
        .v-btn:not(.v-btn--floating):not(.v-btn--icon), .v-toolbar__items .v-menu, .v-toolbar__items .v-menu__activator {
            color: $secondary;
            &.v-btn--active {
                color: #fff;
                .v-btn__content i {
                    display: block;
                }
            }
            .v-btn__content {
                flex-direction: row-reverse;
                i {
                    display: none;
                    padding: 4px;
                    font-size: 20px;
                }
            }
        }
    }
    .v-dialog__content .v-dialog.gym-modal {
        max-width: 400px !important;
        max-height: 600px !important;
    }
    .v-content__wrap {
        .container.fluid {
            width: 800px !important;
            max-width: 800px !important;
            box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)!important;
            background: #fff;
            padding-top: 5px !important;
        }
    }
}

.template-list .v-window__container {
    .v-window-item {
        display: flex;
        flex-wrap: wrap;
        height: -webkit-fill-available;
        .raids__empty {
            width: 100%;
            position: inherit;
            background: url('/storage/img/static/empty.png') bottom center no-repeat;
            background-size: contain;
            margin-bottom: 45px;
            h3 {
                margin-top: calc( 50% - 50px);
            }
        }
    }
}
