.v-overlay--active {
    z-index: 6000 !important;
}
.v-dialog__content--active {
    z-index: 6001 !important;
}

.v--modal-overlay {
    z-index: 9999 !important;
}
.v-dialog__content {
    .v-dialog.city-modal {
        ul {
            list-style-type: none;
            color:$primary;
            padding-left: 0;
            padding-right: 0;
        }
        li {
            padding: 10px;
            border-bottom: 1px solid rgba(119, 186, 191, 0.2);
            font-family: 'Teko';
            font-size: 24px;
        }
    }
    .v-dialog.gym-modal {
        height: calc(100% - 60px);
        border-radius: 0 !important;
        margin: auto;
        .v-card {
            height: 100%;
            padding: 1em !important;
        }
    }
}

.modal__screen {
    .gym__ex {
        position: absolute;
        right: 22px;
        top: 22px;
        background: $secondary;
        padding: 2px 10px;
        color: #fff;
        border-radius: 4px;
        font-size: 10px;
        text-transform: uppercase;
    }
    &.create-raid-ex {
        .v-picker.v-card {
            box-shadow: none;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
        .v-picker__title {
            display: none;
        }
        .v-date-picker-table {
            height: auto;
            .v-btn--active {
                background: $primary;
            }
        }
    }
    .create-rocket-boss__wrapper ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 0;
        &.selected-boss {
            .unselected {
                opacity: 0.4;
                img {
                    filter: grayscale(100);
                }
            }
            .selected {
                opacity: 1;
                img {
                    filter: grayscale(0);
                }
            }
        }
        li {

            width: 25%;
            text-align: center;
            cursor: pointer;
            span {
                font-family: 'Teko';
                font-size: 18px;
            }
        }
    }
    .rocket-boss-pokemon__wrapper {
        .choices {
            .choice {
                width:33.33333%;
                float:left;
                background:none;
                .multiselect__tags {
                    padding: 0px;
                    border-radius: 0;
                    min-height: 90px;
                    .multiselect__placeholder, .multiselect__input {
                        line-height: 90px;
                        width: 90px;
                        text-align: center;
                        font-family: 'Teko';
                        font-size: 42px;
                        margin-bottom: 7px;
                    }
                    .multiselect__single {
                        img {
                            max-width: 90px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}
.v-dialog__content .dialog__wrap {
    overflow-y: scroll;
    overflow-y: overlay;
    height: 100%;
    border: 0px solid $secondary;
    padding-bottom: 70px;
}
.v-dialog__content hr {
    margin: 10px 24px;
    border-color: $secondary;
    opacity: 0.2;
}
.v-dialog__content h3 {
    color: $primary;
    text-align: center;
    font-family: 'Teko';
    padding: 30px 24px 0;
    font-size: 3.5rem;
}
.v-dialog__content .dialog__city {
    padding: 0 24px;
    color: $primary;
    text-align: center;
}
.v-dialog__content .footer--actions {
    position: absolute;
    bottom: 0;
    padding: 0;
    margin-bottom: 10px;
    right: calc( 50% - 25px );
}
.v-dialog__content .button--close {
    width: 45px;
    min-width: 50px;
    height: 50px;
    background: $primary;
    border: none;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
    padding: 0;
    position: relative;
}
.v-dialog__content .button--close i {
    font-size: 18px;
    line-height: 50px;
}
.v-dialog__content .button--close:before {
    content: "";
    width: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 40px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: 5px;
}
.v-dialog__content .dialog__egg {
    text-align: center;
    color: #aaa;
}

.v-dialog__content .dialog__content {
    color: $secondary;
    padding: 0px 24px;
    text-align: center;
}
.v-dialog__content .dialog__content ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: -10px;
}
.v-dialog__content .dialog__content ul li a {
    position: relative;
    display: block;
    line-height: 50px;
    border-bottom: 1px solid rgba(119, 186, 191, 0.2);
    color: $secondary;
}
.v-dialog__content .dialog__content ul li a i {
    position: absolute;
    left: 0;
    top: 13px;
}

.v-dialog__content .modal__screen .step {
    margin: 0 24px;
    text-align: center;
}
.modal__screen .step__title {
    color: $primary;
    text-align: center;
    font-family: 'Teko';
    font-size: 18px;
}
.v-dialog__content .modal__screen .step .step__timer {
    width: calc( 100% - 100px );
    display: inline-block;
    font-size: smaller;
    line-height: 18px;
    font-style: italic;
    margin-bottom: 0;
    opacity: 0.5;
}
.modal__screen [data-step-name="level"] .step__wrapper ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
}
.modal__screen [data-step-name="level"] .step__wrapper ul li {
    width: 20%;
    /* border-left: 1px solid #eee; */
    display: inline-block;
    text-align: center;
    padding: 0 5px;
}
.modal__screen [data-step-name="level"] .step__wrapper ul li button {
    padding: 3px 5px;
    display: block;
    border-radius: 100px;
    border: none;
    background: #fff;
    border: 1px solid #eee;
}
.modal__screen [data-step-name="level"] .step__wrapper ul li button.active,
.modal__screen [data-step-name="level"] .step__wrapper ul li button:hover{
    background: $primary;
    border: 1px solid $primary;
    color: #fff;
}

.modal__screen [data-step-name="boss"] .step__wrapper ul {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.modal__screen [data-step-name="boss"] .step__wrapper ul li {
    width: 33.33333%;
    border-bottom: 1px solid #fafafa;
}

.modal__screen {
    &.edit-poi {
        .v-btn--bottom.v-btn--floating {
            background: $primary !important;
        }
    }
}

.footer-action {
    position: fixed;
    bottom: 30px;
    padding: 0;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    left: 0;
}

.list-filters {
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        font-size: 12px;
        -webkit-appearance: menulist;
    }
    .v-input--selection-controls.v-input--checkbox {
        margin-top:0;
    }
}

.gym-modal.stop {
     h3 {
        color: $primary_stop;
    }
    .dialog__city {
        color: $primary_stop;
    }
    .dialog__wrap {
        border-color: $secondary_stop;
    }
    .dialog__content {
        color: $secondary_stop;
    }
    .dialog__content ul li a {
        color: $secondary_stop;
    }
    .button--close,
    .bt {
        background: $primary_stop;
    }
}
.gym-modal.gym.ex {
     h3 {
        color: $primary_ex;
    }
    .step__title {
        color: $primary_ex;
    }
    .dialog__city {
        color: $primary_ex;
    }
    .gym__ex {
        background: $secondary_ex;
    }
    .dialog__wrap {
        border-color: $secondary_ex;
    }
    .dialog__content {
        color: $secondary_ex;
    }
    .dialog__content ul li a {
        color: $secondary_ex;
    }
    .button--close,
    .bt {
        background: $primary_ex;
    }
    .v-date-picker-table {
        .v-btn--active {
            color: $primary_ex !important;
        }
    }
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        -webkit-appearance: menulist;
        &.hour {
            text-align: right;
            border-left: 0;
        }
        &.minutes {
            border-right: 0;
            border-left: 0;
        }
    }
}
.v-dialog.list-filters .v-card {
    min-height: 450px;
}
.dialog-update {
    p {
        padding-top: 24px;
        font-size: 1.6em;
        text-align: center;
    }
}
