.v-toolbar__title {
    font-family: "Teko";
    color: #fff;
    font-size: 25px;
    img {
        height: 54px;
    }
    small {
        font-family: 'Roboto';
        font-style: italic;
        font-size: 16px;
        color: rgba(255,255,255,0.6);
    }
}
.template-map .v-toolbar__title:not(:first-child){
    margin-left: 0;
}
.theme--dark.v-toolbar {
    background-color: $primary;
    color: #fff;
}
