#app__container {
    .v-toolbar.v-toolbar--fixed.theme--dark.primary {
        font-size: 72px;
        background: #fff;
        box-shadow: none;
        .v-toolbar__title {
            font-family: "Teko";
            font-size: 30px;
            border-radius: 0;
            font-weight: 500;
            background: linear-gradient(to right, $primary, $accent);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            img {
                height: 54px;
            }
            small {
                font-family: 'Roboto';
                font-style: italic;
                font-size: 16px;
                color: rgba(255,255,255,0.6);
            }
        }
        .v-toolbar__content {
            .v-btn--active.v-btn {
                color: $primary;
                &:before {
                    background: none;
                }
            }
        }
    }
    .v-footer {
        .v-item-group.v-bottom-nav {
            box-shadow: none;
            margin-top: 10px;
        }
    }
    .container {
        padding: 0 10px;
    }
    div {
        border-radius: 20px;
    }
    .v-subheader,
    .section__title {
        background: none;
        padding-left: 6px;
        height: 30px;
        font-size: 20px !important;
        color: #212529 !important;
        font-weight: 500;
        padding-bottom: 10px;
    }
    .settings-section {
        margin: 30px auto;
    }
    .theme--light.v-list {
        background: none;
        .v-avatar {
            background: $bg_light_grey;
            .v-icon {
                color: $secondary;
            }
        }
        .v-list__tile--link {
            border-radius: 50px;
        }
    }
    .v-btn.v-btn--large.v-btn--round {
        background: linear-gradient(to right, $primary, $accent);
        color: #fff;
        box-shadow: none;
        width: 100%;
        margin: 10px 0;
    }
}

#app__container.template-map {
    .v-toolbar.v-toolbar--fixed.theme--dark.primary {
        background: linear-gradient(to right, $primary, $accent);
    }
    #bg1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        border-radius: 0 0 20px 20px;
        background: linear-gradient(to right, $primary, $accent);
    }
    .v-toolbar__content {
        margin: 15px auto;
        img {
            width: 70px;
        }
        .v-toolbar__title {
            margin: 0 20px !important;
            color: rgba(255, 255, 255, 0.5) !important;
            -webkit-text-fill-color: inherit !important;
            background: none !important;
            small {
                display: block;
                margin-top: -10px;
            }
        }
    }
    .v-content {
        padding-top: 86px !important;
    }

}

#app__container {

    .theme--dark.v-toolbar {
        background-color: $primary;
        color: #fff;
    }
    .theme--dark.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
        background: none;
    }
    .v-toolbar__content>.v-btn.v-btn--icon:first-child+.v-toolbar__title, .v-toolbar__extension>.v-btn.v-btn--icon:first-child+.v-toolbar__title {
        margin-left: 0;
        padding-left: 0;
    }
    nav.v-toolbar {
        z-index: 1500;
    }
    .v-footer {
        z-index: 1499;
        .v-item-group {
            border-radius: 0px !important;
        }
        .v-btn:first-child {
            border-bottom-left-radius: 0px !important;
            border-top-left-radius: 0px !important;
        }
        .v-btn:last-child {
            border-bottom-right-radius: 0px !important;
            border-top-right-radius: 0px !important;
        }
    }
}
