body.logged-out {
    background: url(https://assets.profchen.fr/img/splash_bg.jpg) top right;
    background-size: cover;
    .branding img {
        width: 200px;
        display: block;
        position: fixed;
        bottom: 0;
        left: calc( 50% - 100px );
    }
    .branding h1 {
        color: #fff;
        font-family: 'Teko';
        font-size: 36px;
        margin-top: 10px;
        font-weight: 500;
        text-align: center;
    }
    .branding a.login {
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        font-family: 'Teko';
        font-size: 24px;
        padding: 10px 40px;
        margin: auto;
        display: block;
        text-decoration: none;
        border-radius: 4px !important;
        text-align: center;
    }
    .branding a.login:hover {
        color: $primary;
        background: #fff;
    }
    .branding a.login:before {
        content: "";
        width: 30px;
        height: 30px;
        background: url('https://assets.profchen.fr/img/discord_logo_white.png') center center no-repeat;
        background-size: contain;
        display: inline-block;
        vertical-align: middle;
    }
    .branding a.minor {
        color: rgba(255, 255, 255, 0.7);
        padding-top: 50px;
        width:250px;
        margin: auto;
        display: block;
        text-align: center;
        font-size: 16px;
        position: fixed;
        bottom: 120px;
        margin-left: calc(50% - 140px);
    }
    .denied {
        color: $primary;
        margin: 15px -15px;
        text-align: left;
        background: rgba(255, 255, 255, 0.5);
        min-height: 56px;
        display: flex;
        align-items: center;
        i {
            font-size: 36px;
            padding: 10px 5px 10px 15px;
            color: #f39847;
        }
        span {
            display: inline-block;
            padding: 10px 15px 10px 0;
        }
        a {
            text-decoration: underline;
        }
    }
}
