.map-marker__img.raid,
.map-marker__img.quest {
    max-width: 49px !important;
    width: 49px !important;
}
.map-marker__label {
    top: 32px;
    width: 49px;
    text-align: center;
    color: #fff;
    position: absolute;
}
.leaflet-control-zoom {
    display:none;
}

.raid__content {
    .gym__ex {
        display: inline-block;
        margin-right: 10px;
        border-radius: 40px;
        background: $secondary;
        color: #fff;
        font-family: "Roboto";
        font-size: 12px;
        line-height: 12px;
        padding: 5px 10px;
        vertical-align: top;
    }
}
