
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #5a6cae;
$primary_dark: #28304d;
$secondary: #a8a7cf;
$accent: #8e56d9;
$accent2: #ffdc7c;
$grey: #aaa;
$bg_light_grey: #fafafa;

//Stops
$primary_stop: #5bb0c4;
$secondary_stop: #5bb0c4;

//Stops
$primary_ex: #1C1030;
$secondary_ex: #B8AF8D;

//Rocket
$primary_rocket: #222;
$accent_rocket: #d4271b;
$light_rocket: #2a2a2a;

