.v-input--checkbox.v-input--is-label-active .theme--light.v-icon {
    color: $primary;
}
.v-input--switch.v-input--is-label-active .theme--light.v-input--switch__thumb {
    color:$primary;
}
.v-input--switch.v-input--is-label-active .theme--light.v-input--switch__track {
    color:$primary;
}
