
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'vuetify';
@import 'header';
@import 'nav';
@import 'map';
@import 'dialog';
@import 'buttonactions';
@import 'admin';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html,
body,
#app,
v-app,
#app__container,
.application--wrap {
    height: 100%;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 1.4rem;
  background: #fff;
  line-height: 1.3;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
img {
    max-width: 100%;
    height: auto;
}
h3, h4 {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: -.02em;
    opacity: .54;
    font-size: .6em;
}

.mb-60 {
    margin-bottom: 60px;
}
.v-content__wrap .container {
    padding : 0;
}


.fade-enter-active {
  transition: all .3s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}


.bt {
    display: inline-block;
    background: $primary;
    border: none;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
    border-radius: 100px;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
    padding: 10px 40px;
    line-height: 30px;
    position: relative;
}
.bt:before {
    content: "";
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 40px;
    display: block;
    position: absolute;
    border-radius: 100px;
    top: 5px;
    left: 5px;
    width: calc( 100% - 10px );
}
.bt.cancel {
    color: #fff !important;
}

.page-content-full {
    display: flex;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.template-map {
    .v-content {
        height: 100%;
    }
    .v-content__wrap {
        height: 100%;
        .container {
            height: 100%;
            max-width: 100% !important;
        }
    }
}

.v-footer {
    z-index: 4000;
}
.v-toolbar {
    z-index: 4000;
}

body.logged-out {
    background: url(https://assets.profchen.fr/img/splash_bg.jpg) top right;
    background-size: cover;
}
body.logged-out .branding img {
    width: 200px;
    display: block;
    position: fixed;
    bottom: 0;
    left: calc( 50% - 100px );
}
body.logged-out .branding h1 {
    color: #fff;
    font-family: 'Teko';
    font-size: 36px;
    margin-top: 10px;
    font-weight: 500;
    text-align: center;
}
body.logged-out .branding a.login {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Teko';
    font-size: 24px;
    padding: 10px 40px;
    margin: auto;
    display: block;
    text-decoration: none;
    border-radius: 4px !important;
}
body.logged-out .branding a.login:hover {
    color: $primary;
    background: #fff;
}
body.logged-out .branding a.login:before {
    content: "";
    width: 30px;
    height: 30px;
    background: url('https://assets.profchen.fr/img/discord_logo_white.png') center center no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
}

body.logged-out .branding a.minor {
    color: rgba(255, 255, 255, 0.7);
    padding-top: 50px;
    width:250px;
    margin: auto;
    display: block;
    text-align: center;
    font-size: 16px;
    position: fixed;
    bottom: 120px;
}

.section__title {
    background: #fafafa;
    padding: 10px 15px !important;
    font-family: 'Teko';
    font-size: 20px;
}
.raid__wrapper {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}
.raid__img {
    min-width: 80px;
    padding-right: 10px;
}
.raid__img img {
    max-width: 70px;
    max-height: auto;
}
.raid__content h3 {
    font-family: 'Teko';
    font-size: 24px;
    margin: 5px 0 7px 0;
    line-height: 24px;
}
.raid__timer {
    display: inline-block;
    margin-left: 10px;
    border-radius: 40px;
    background: pink;
    color: #fff;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 12px;
    padding: 5px 10px;
    vertical-align: top;
}
.raid__gym img {
    max-width: 20px;
    max-height: auto;
}
.raid__gym {
    font-size: 1.5rem;
}

.modal__screen .dialog__counter {
    border-radius: 50px;
    background: pink;
    color: #fff;
    font-size: 24px;
    display: inline-block;
    padding: 5px 40px;
}
.modal__screen .dialog__counter {
    background: orange;
}

.setting__wrapper {
    border-bottom: 1px solid #eee;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
.setting__wrapper .user__img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}
.setting__wrapper .user__img img {
    border-radius: 500px;
}
.setting__wrapper .user__info h3 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
    margin-top: 0;
}
.setting__wrapper .user__info a {
    color: #ca3366;
}
.setting__titre {
    margin: 0;
    font-size: 18px;
}
.setting__desc {
    color: #bbb;
    font-size: 1rem;
    margin: 0;
    line-height: 1.3rem;
}
.setting__wrapper > a {
    padding: 10px 0;
    font-size: 16px;
    color: inherit;
    width: 100%;
}
.settings-section .credit {
    padding: 10px 15px;
    font-size: 14px;
    letter-spacing: 0;
    margin: 0 0 16px;
}
.settings-section .credit i.material-icons {
    font-size: 14px;
    vertical-align: middle;
}
.raid__timer.active {
    background: orange;
}



/*------------------------------------------------------------------------------
Input Range
------------------------------------------------------------------------------*/
input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  background-image: linear-gradient(90deg, rgba(119, 186, 191, 0.3) 57.14%, $secondary 57.17%);
  border-radius: 100px;
  /*border: 0.2px solid #010101;*/
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px $secondary, 0px 0px 1px $secondary;
  /*border: 1px solid #000000;*/
  height: 24px;
  width: 24px;
  border-radius: 100px;
  background: $primary;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background-image: linear-gradient(90deg, rgba(119, 186, 191, 0.3) 57.14%, $secondary 57.17%);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background-image: linear-gradient(90deg, rgba(119, 186, 191, 0.3) 57.14%, $secondary 57.17%);;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background-image: linear-gradient(90deg, rgba(119, 186, 191, 0.3) 57.14%, $secondary 57.17%);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background-image: linear-gradient(90deg, rgba(119, 186, 191, 0.3) 57.14%, $secondary 57.17%);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 100px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background-image: linear-gradient(90deg, rgba(119, 186, 191, 0.3) 57.14%, $secondary 57.17%);
}
input[type=range]:focus::-ms-fill-upper {
  background-image: linear-gradient(90deg, rgba(119, 186, 191, 0.3) 57.14%, $secondary 57.17%);
}
.range_button {
    background: none;
    border: none;
    color: $primary;
    width: 50px;
    cursor: pointer;
    display: inline-block;
}
.range_button i {
    border: 1px solid rgba(119, 186, 191, 0.3);
    border-radius: 50%;
    padding: 5px;
}
range_button:active {
    color: #ca3366;
}
.range_button#range__minus {
    margin-left: -10px;
    float: left;
}
.range_button#range__plus {
    float: right;
}

.dialog__egg img {
    display: block;
    margin: auto;
    max-height: 120px;
}
.dialog__egg.future .dialog__counter{
    background: pink;
}
.update-raid__wrapper ul {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.update-raid__wrapper ul li {
    width: 33.33333%;
    border-bottom: 1px solid #fafafa;
}

.snackbar {
    position:fixed;
    bottom: 80px;
    width: 200px;
    right:50%;
    margin-right:-100px;
    border-radius: 100px;
    background: rgba( 0, 0, 0, 0.5 );
    color: #fff;
    text-align: center;
    padding: 8px;
    z-index: 99999;
}
.theme--light.v-subheader {
    color: #212529;
}
.v-subheader {
    background: #fafafa;
    /*padding: 10px 15px !important;*/
    font-family: "Teko";
    font-size: 20px !important;
    color:#212529 !important;
}
.theme--light.v-label.v-label--active {
    color: $primary;
}

.raids__empty {
    position: fixed;
    bottom: 50px;
    h3 {
        font-family: 'Teko';
        font-size: 46px;
        line-height: 40px;
        text-align: center;
        color: #5a6cae;
        margin: 0px 00px;
    }
    div.wrapper {
        text-align: center;
        margin: 20px 40px 10px 40px;
        p {
            color: #aaa;
            margin-top: 20px;
        }
        .v-btn {
            margin-bottom: 40px;
        }
    }
}

.page-content-full {
    display: flex;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;
}

.donation {
    padding: 10px 15px;
    font-size: 1rem;
    .v-progress-linear__background,
    .v-progress-linear__bar__determinate {
        border-radius: 50px;
    }
    .v-btn {
        background: transparent !important;
        border: 2px solid $primary;
        border-radius: 50px;
        box-shadow: none;
        .v-btn__content {
            color: $primary;
        }
    }
}

.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background: none !important;
}
.v-btn:before {
    background-color: inherit;
}
